<nav class="breadcrumbs breadcrumbs-path">
    <ul>
        <li><a href="#/">Весь Мурманск Плюс</a></li>
        <li><span>О справочнике</span></li>
    </ul>
</nav>

<h4 class="color-green">О справочнике</h4>
<hr>

<div class="units-row">
<p class="lead">
Предлагаем разместить рекламную информацию о Вашей организации (предприятии) на страницах телефонного справочника
«Весь Мурманск+».
</p>
<img src="img/obl.jpg" class="unit-30 unit-padding">

    <div class="unit-60">
<p>Специалисты ООО «С-Медиа» уже 13 лет осуществляют деятельность по изданию телефонных справочников.
Несмотря на широкое развитие сети Интернет, популярность справочников на бумажном носителе остается прежней.</p>

Справочник «Весь Мурманск+»:
<ul>
Формат А4, выпуск – ежегодно в декабре, сбор информации до 15 сентября, тираж 10 тыс. экз., объем 330 страниц.
    <li>официальная база данных о предприятиях и организациях г. Мурманск и Мурманской области;</li>
    <li>цветная схема г. Мурманск с указанием номеров домов;</li>
    <li>целевая аудитория – бизнесмены, предприниматели, частные пользователи;</li>
    <li>многоцелевое бесплатное распространение по телефонно-адресной базе предприятиям, организациям, индивидуальным предпринимателям, рекламодателям, гостиницы, потенциальнымклиентам;</li>
    <li>продажа справочника осуществляется через киоски ОАО «МАРПИ», отделения связи ФГУП «Почта России»;</li>
    <li>информация о номерах телефонов предприятий и организаций, размещенная в справочнике, будет продублирована на официальном сайте.</li>
</ul>
        </div>

</div>
